body{
    text-align: center;
    /* background:white; */
    background-image:url("../images/ep_naturalwhite.png");
    color: black;
    font-family:'Georgia', Times, 'Times New Roman', serif;

  }
  .navbar-nav a li{
      position: fixed;
  }
  .navbar-nav a{
    text-decoration: none;
    color: white;
  }
  .navbar-nav li{
    padding: 10px;
    list-style-type: none;
    display: inline-block;
  }
 .jumbotron{
    text-align: center;
    display: block;
    background-color: rgba(74,170,165, 0.5);
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    color:black;
    font-weight: bold;
    
  }
h1{
    font-size: 80px;
}
h2{
    text-align: center;
}
/* portfolio.html */
#portfolio-section .container {
    overflow: hidden;
} 
#portfolio-section{
    background-position: center;
    text-align: left;
    float:center;
    margin-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

}
#portfolio{
    margin:30px;
}
#portfolio-image-info{
    margin:30px;

}
.portfolio-image{
    float: left;
    width:40%;
    height:30%; 
    position: relative;
    margin-bottom:50px;
    margin-right:-20px;

} 
.portfolio-image img{
    float:  left;
    width:300px;
    height:200px;
    margin:0px;
}
.portfolio-image .position-text a{
    overflow:hidden;
    text-align:center;
    background-color:rgba(74,170,165, 0.5);
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#ffffff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-18.65%, 0%);
    width:300px;
    padding:20px 0px 20px 0px;
    font-size: 20px;
    margin:0;
}
.portfolio-image .repo a{
    overflow:hidden;
    text-align:center;
    background-color:rgba(74,170,165, 0.5);
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#ffffff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-18.65%, 100%);
    width:300px;
    padding:20px 0px 20px 0px;
    font-size: 20px;
    margin:0;

}
.portfolio-image .position-text a:hover{
    color:#4aaaa5;
    background-color:#ffffff;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    text-decoration: none;
}
.portfolio-image .repo a:hover{
    color:#4aaaa5;
    background-color:#ffffff;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    text-decoration: none;
}
.responsive {
    width: 100%;
    height: auto;
  }
  .row{
      margin-left: 10px;
  }
   .img-project{
     height: calc(100% - 6.8rem);
    width: 25%;
    object-fit: cover;
    }