* {
    box-sizing:border-box;
    scroll-behavior: smooth;
}
html {
    position: relative;
    min-height: 100%;
}
nav{
    background-color:teal;
}
.brand-logo{
    padding-top: 20px;
}
nav ul a{
    padding-top: 20px;
}

  main {
    flex: 1 0 auto;
   
  }
#imgcontainer{
    border-radius: 50%;
        width:400px;
        height:400px;
        /* float:left; */
        margin-right:20px;
}
.clearfix{
    overflow:auto;
}
body{
    width:100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, teal, white);
    color: white;
    font:20px/1.5 'Georgia', Times, 'Times New Roman', serif;
    border-color:#dddddd;
    padding-bottom: 50px;  
    font-family: 'Hind Madurai', sans-serif;
  }
  .container{
    margin:auto;
    background-color:rgba(243, 239, 239, 0.217);
    overflow:hidden;
    align-items: center;
    padding:0;  
    display: block;
  }
input.autocomplete {
    color: none;
  }
 .jumbotron{
    text-align: center;
    display: block;
    color: rgba(255,255,255);
    font-weight: bold;
    background-color:rgba(243, 239, 239, 0.217);
  }
h1{
    font-size: 80px;
    padding-top: 50px;
    font-family: 'Shadows Into Light', cursive;
}
h2{
    font-size: 80px;
    padding-top: 50px;
    font-family: 'Hind Madurai', sans-serif;  
}
h3{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}
.card-image img{
    width:300px;
    height:300px;
}
a{
    color: white; 
}
/* about */
#about-me-section{
    margin-top:40px;
    margin-bottom:10px;
    background-position: center;
    text-align: left;
    float:center;
}
#about-me{
    margin:30px;
}
#about-image-info{
    margin:30px;
    line-height:1.9;
    padding-bottom: 20px;
}
#about-me-section .links{
padding-bottom: 40px
}
#about-image-info a.btn{
    margin-right: 20px;
    display: inline;
}
.project-link{
    font-size: 20px; 
    color: white;
    padding-right: 20px;
}
.links{
    text-align: center;
    
}
/* portfolio */
#portfolio-section .container {
    overflow: hidden;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
} 
#portfolio-section{
    background-position: center;
    text-align: left;
    float:center;
    margin-top: 40px;
    overflow: hidden;
    justify-content: center;

}
#portfolio{
    margin-top:30px;
}
.card{
    margin-bottom:20px;
}

/* .responsive {
    width: 100%;
    height: 100%;
  } */
  .row{
      margin: 0 auto;
      justify-content: center;
  }
      /* tech */
#tech-section{
    margin-top:40px;
}
#techimg{
    text-align: center;
}
  
    /* contact */
#contact-form-section{
    margin-top:40px;
    margin-bottom:100px;
    /* text-align: left; */
    overflow: hidden;
    width:100%;
}

.btn {
    border-color: #ffffff;
    color:#ffffff;
    background-color:#4aaaa5;
    /* margin-left: -15px; */
  }
  .btn:hover{
    color:#4aaaa5;
    background-color: #ffffff;
    border-color: #4aaaa5;
  }
input{
    width:100%;
    margin-bottom: 5px;
}

  @-webkit-keyframes autofill {
    0%,100% {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
 

.contact-info{
    text-align: center;
    margin-top: 20px;
}
footer{
    background-color:rgba(74,170,165, 0.8);
    margin-bottom: -50px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
}
.card {
    text-align: center;
  }
  
 .sidenav{
     background-color: teal;
     
 }
 .sidenav a{
    color: white !important;
 }
@media only screen and (max-width: 600px) {
   
   .row .card{
       align-items: center;
       margin-left: 80px;
   }
}
  
    
  